/* src/styles/global.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: 'Inter', sans-serif;
    --font-heading: 'Space Grotesk', sans-serif;
  }
  
  body {
    @apply bg-slate-900 text-slate-200;
    font-family: var(--font-sans);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
  }
}

/* animation for the client logo slider */
@keyframes infinite-scroll {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
}
.animate-infinite-scroll {
    animation: infinite-scroll 30s linear infinite;
}

/* src/styles/global.css */

.prose img {
  /* Change this percentage to control the size. 75% is a good start. */
  max-width: 75%; 
  
  /* These two lines will center the smaller image */
  margin-left: auto;
  margin-right: auto;
  
  height: auto;
  border-radius: 0.5rem;
  margin-top: 2em;
  margin-bottom: 2em;
  display: block; /* Helps with centering */
}

a {
  text-decoration: none; /* Removes underline by default */
}

a:hover {
  text-decoration: underline; /* Adds underline on hover */
}